[Unit]
Description=Fastbootd
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/run_fastboot_tcp
Restart=always

[Install]
WantedBy=multi-user.target
