[Unit]
Description=Sync the local time with an NTP Server
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/sbin/sync_time.sh
Restart=never

[Install]
WantedBy=multi-user.target
