[Unit]
Description=Fastbootd
After=network-data-propagate.service

[Service]
Type=simple
ExecStart=/usr/bin/run_fastboot_tcp
Restart=always

[Install]
WantedBy=multi-user.target
